{% load static%}

{% include 'profile/base.html'%}

<html>
    <head>

        <meta charset="UTF-8">
    
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        
        <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/darkly/bootstrap.min.css">

        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

        <title>Task | Dashboard</title>

    </head>
    <body>
       
        </div>
                <br> 

                <div class="container bg-white shadow-md p-lg-4 form-layout text-black">
    
                <h2> <b style="color: rgb(162, 105, 178);">Task</b></h2>

                <hr>

                <p>Wellcome to Task, {{user.username}} <br><br> Your Personal Task manager Application!</p>


                <br>

                <a class="btn btn-outline-primary me-2" type="button" href="{% url 'my-profilemanagement' %}">My Profile</a>
        </div>
    </body>
</html>